.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vh;
}
.image{
    width: 20vmin;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
}