.app{
    background: url(school.jpg);
    min-height: 100vh;
    background-repeat: none;
    background-size: cover;
}

.teamates{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(10px);
}