.home{
    color: white;
    font-family: 'Gugi', cursive;
}

.navBar{
    margin: 0, auto;
    flex-grow: 1;
}

.title{
    font-size: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.navBar__wrapper{
    width: 80%;
    margin: auto;
}

.icon{
    color: white;
}

.navBar__tittle{
    flex-grow: 1;
}

.downArrow{
    color: white;
}